name: Lint Check
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - run: go version
      #- run: diff -u <(echo -n) <(gofmt -d .)
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
          args: --enable=nolintlint,gochecknoinits,bodyclose,gocritic --verbose